.content_item{
    width: 249px;
    color: #aa9ba8;
    cursor: pointer;
}
.content_item img{
    width: 100%;
    height: 100%;
}
.content_item p{
    text-align: center;
}
.content_item p:hover{
    color: #fb9e3b;
}